<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xmlns:amq="http://activemq.apache.org/schema/core"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:security="http://www.springframework.org/schema/security"	
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
        				http://www.springframework.org/schema/context/spring-context.xsd
        				http://www.springframework.org/schema/jms
        				http://www.springframework.org/schema/jms/spring-jms.xsd
        				http://activemq.apache.org/schema/core
        				http://activemq.apache.org/schema/core/activemq-core-5.9.0.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd        				
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security.xsd        				
        				">
	
<!-- <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>classpath:spring.properties</value>
		</property>
	</bean> -->
	
	<context:property-placeholder location="classpath*:spring.properties"/>
	<!-- <context:property-placeholder location="D:\\Karthick\\InstalledApps\\GitHub\\Sprin4WebApp\\Spring4WebApp\\src\\main\\java\\spring.properties"/> -->
	<bean id="tea" class="com.spring4.beans.Tea"/>
	
	<!-- <bean id="restaurant" class="com.spring4.beans.Restaurant" scope="prototype" lazy-init="true" init-method="init" destroy-method="destroy"> -->
	<bean id="restaurant" class="com.spring4.beans.Restaurant">
		
		<!-- <property name="welcomeNote" value="Welcome to our Restaurant!!!"/> -->		
		<property name="welcomeNote" value="${welcomeNote}"/>
		
		<property name="hotDrink" ref="tea"/>
		
		<constructor-arg type="int" value="777" />
		<constructor-arg type="java.lang.String" value="Karthick" />
		<constructor-arg ref="tea"/>
		
		<!-- java.util.List -->
		<property name="restaurantWaitersList">
			<list>
				<value>ABC</value>
				<value>CBC</value>
				<value>DBC</value>
				<value>DBC</value>
			</list>
		</property>
		
		<!-- java.util.Set -->
		<property name="restaurantWaitersSet">
			<set>
				<value>ABC</value>
				<value>CBC</value>
				<value>DBC</value>
				<value>DBC</value>
			</set>
		</property>
		
		<!-- java.util.Map -->
		<property name="restaurantWaitersMap">
			<map>
				<entry key="1" value="ABC"/>
			</map>
		</property>
		
		<!-- java.util.Properties -->
		<property name="pros">
			<props>
				<prop key="admin">admin@nospam.com</prop>
				<prop key="support">support@nospam.com</prop>
			</props>
		</property>
	</bean>

	<bean class="com.spring4.processor.BeanPostProcessorDemo"/>
	<bean class="com.spring4.processor.BeanPostProcessorDemo1"/>
	<!-- <bean class="com.spring4.processor.BeanFactoryPostProcessorDemo"/> -->
	<!-- <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/> -->
	<context:annotation-config/>
	
	<!-- Spring AOP -->
	<bean id="testApp" class="com.spring4.training.aop.TestApplication"/>
	<!-- <bean id="sampleAdvice" class="com.spring4.training.aop.SampleAdvice"/> -->
	
	<aop:aspectj-autoproxy/>
	<!-- <aop:config>
		<aop:aspect ref="sampleAdvice">
			<aop:pointcut expression="execution(public void testMethod*())" id="samplePointcut"/>
			<aop:before method="insertBefore" pointcut-ref="samplePointcut"/>
			<aop:after method="insertAfter" pointcut-ref="samplePointcut"/>
		</aop:aspect>
	</aop:config> -->
	
</beans>
